/* Common CSS start */
body {
    margin: 0;
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    font-weight: 400;
    color: #626262;
    background-color: #ffffff;
}

/* Common CSS end */

/* header start */
header {
    padding: 25px 0;
}

.container {
    margin: 0 auto;
    width: 90%;
    overflow: hidden;
    /* border: 1px solid black; */
}

.logo {
    margin-top: 11px;
    width: 12%;
    float: left;
    /* border: 1px solid black; */
}

.logo img {
    width: 100%;
}

.menu {
    width: 60%;
    float: right;
    /* border: 1px solid black; */
}

.menu ul {
    float: right;
}

.menu ul li {
    list-style: none;
    float: left;
}

.menu ul li a {
    display: inline-block;
    margin: 0 60px;
    color: #626262;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: .33s ease-out;
}

.menu ul li:last-child a {
    margin-right: 0;
}

.menu ul li a:hover {
    border-bottom: 1px solid #626262;
}

/* header end */

/* banner start */
.banner {}

.b_img {}

.b_img img {
    width: 100%;
}

/* banner end */

/* weekend start */
.weekend {
    padding: 80px 0 80px;
}

.container2 {
    margin: 0 auto;
    width: 80%;
}

.w_content {}

.c_tag {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
}

.c_title {
    margin: 15px 0 25px;
    font-weight: 400;
    font-size: 30px;
}

.c_text {
    margin: 0;
    line-height: 24px;
}

.mb_45 {
    margin-bottom: 45px;
}

/* weekend end */

/* blog start */
.blog {
    padding: 0 0 80px;
}

.container2 {
    overflow: hidden;
}

.s_blog {
    margin-top: 80px;
    width: 47%;
    float: left;
    box-sizing: border-box;
}

.s_blog:nth-child(even) {
    margin-left: 6%;
}

.s_img {
    margin-bottom: 20px;
}

.s_img img {
    width: 100%;
}

/* blog end */

/* newsletter start */
.news {
    background-color: #f0f0f0;
    padding: 70px;
}

.signup {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    text-align: center;
}

.s_h1 {
    color: #333333;
    margin-top: 0;
    margin-bottom: 70px;
}

.s_form {
    position: relative;
    margin: 0 auto;
    width: 400px;
}

.s_form input {
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    color: #626262;
    width: 340px;
    height: 45px;
    border: none;
    border-bottom: 1px solid #333333;
    background: transparent;
    padding-left: 2%;
    padding-right: 13%;

}

.s_form input:focus {
    outline: 0;
}

.s_form button {
    position: absolute;
    background: transparent;
    border: none;
    cursor: pointer;
    top: 15px;
    right: 0;
}

.s_form button :focus {
    outline: 0;
}

.s_form button img {
    /* width: 100%; */
}

/* newsletter end */

/* load more button start */
.load_button {
    padding: 100px 0 150px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn button {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    width: 165px;
    height: 60px;
    text-align: center;
    border: 2px solid #626262;
    background-color: #ffffff;
    color: #626262;
    transition: 0.33s ease-in;
}

.btn :hover {
    background-color: #333333;
    color: #f0f0f0;
}
/* load more button end */

/* footer start */
footer {
    background-color: #f0f0f0;
    color: #000000;
    margin-top:70px ;
}

.f_container {
    margin: 0 auto;
    width: 80%;
    overflow: hidden;
    padding: 25px 0;    

}

.f_left {
    float: left;
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.f_right {
    float: right;
    width: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.f_container p:hover{
        border-bottom: 1px solid #626262;
}

/* footer end */